:root{
    --font-name:'Lustria', serif;
    --font-main:"Poppins", sans-serif;
}

.jobs-list{
    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container-job{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-main);
}

.information-job{
    width: 88%;
    border-radius: 10px;
    padding: 20px;
}

.information-job h3{
    font-size: 1.6rem;
    font-weight: 400;
}

.information-job .description-job{
    font-size: 1rem;
    font-weight: 200;
    color: #000000;
}

.information-job .company-job {
    background-color: black;
    color: #FFFFFF;
    max-width: 100%;
    padding: 10px 15px;
    font-weight: 500;
    font-size: .9rem;
    border-radius: 300px;
    display: inline-block; 
    white-space: nowrap;
    text-align: center;
    margin-right: 10px;
}

.image-job{
    display: none;
}

@media screen and (min-width: 768px){
    
}

/**
.container-job{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 35s ease-in-out infinite;
}
*/