---
import '../styles/Habilidades.css'

const Habilidades_Sistemas = [
    {
        title: 'Gestion TI',
    },
    {
        title: 'Redes y Seguridad',
    },
    {
        title: 'Servidores y Seguridad',
    },
    {
        title: 'Computación en la Nube',
    },
    {
        title: 'Gestión de Data Centers',
    },
    {
        title: 'Automatización y CAD',
    },
    {
        title: 'Desarrollo de Proyectos TI',
    },
    {
        title: 'Bases de Datos',
    },
    {
        title: 'Ciberseguridad',
    },
]

const Habilidades_Docencia = [
    {
        title: 'Educación Tecnológica',
    },
    {
        title: 'Metodologías Innovadoras',
    },
    {
        title: 'Plataformas Educativas',
    },
    {
        title: 'Ofimática Avanzada',
    },
    {
        title: 'Certificaiones Tecnológicas',
    },
    {
        title: 'Ciberseguridad Educativa',
    },
    {
        title: 'Inclusión y Educación Digital',
    }
]
---

<section class="habilidades">
    <h4>Habilidades</h4>
    <div class="container-habilidades">
        <div class="container-habilidades-main">
            <div class="title">
                <h5>Sistemas e Informatica</h5>
            </div>
            <div class="container-h">
                {Habilidades_Sistemas.map((habilidad) => (
                    <p class="">{habilidad.title}</p>
                ))}
            </div>
        </div>
        <div class="container-habilidades-main">
            <div class="title">
                <h5>Docencia y Capacitación</h5>
            </div>
            <div class="container-h">
                {Habilidades_Docencia.map((habilidad) => (
                    <p class="">{habilidad.title}</p>
                ))}
            </div>
        </div>
        
    </div>
</section>