---
import "../styles/header.css";
---

<header class="header">
  <h1>LOGO</h1>
  <div class="toggle"></div>
    <ul class="navigation">
      <li><a href="#">Experiencia</a></li>
      <li><a href="#">Estudios</a></li>
      <li><a href="#">Habilidades</a></li>
      <li><a href="#">Cursos</a></li>
      <li><a class="button" href="#">Contacto</a></li>
    </ul>
</header>

<script>
</script>