---
import "../styles/Presentation.css";
---

<section class="presentation">
    <div class="image">
        <img class="photo" src="/businessman.jpg" alt="Ivan de Jesus" />
    </div>
    <div class="information_presentation">
        <h1 class="name">IVAN DE JESUS</h1>
        <p class="description">
            Profesional proactivo, creativo y adaptable, con habilidades digitales, comunicativas y de trabajo en equipo. Comprometido con el aprendizaje continuo.
        </p>
        <div class="badge">
            <h2>Listo para trabajar</h2>
        </div>
    </div>
</section>