---
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
import Marcas from '../components/Marcas.astro';
import Works from '../components/Works.astro';
import Habilidades from '../components/Habilidades.astro';
import Footer from '../components/Footer.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio Ivan</title>
	</head>
	<body>
		<Header />
		<Presentation />
		<Marcas />
		<Works />
		<Habilidades />
		<Footer />
		<slot />
	</body>
	<style is:global>
		:root{
			
		}
	</style>
</html>

<style>
body {
  position: relative;
  overflow-x: hidden;
  height: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: -10;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: rgba(255, 140, 0, 0.5); /* Color naranja */
  opacity: 0.5;
  filter: blur(80px);
  animation: floatingBlob 15s ease-in-out infinite;
  z-index: -5;
}

@keyframes floatingBlob {
  0% {
    transform: translate(-30%, 20%) scale(1);
  }
  25% {
    transform: translate(-25%, 15%) scale(1.2);
  }
  50% {
    transform: translate(-35%, 25%) scale(0.9);
  }
  75% {
    transform: translate(-20%, 10%) scale(1.1);
  }
  100% {
    transform: translate(-30%, 20%) scale(1);
  }
}
</style>
